body{
    background-colorbackground: rgb(255,0,236);
    background: linear-gradient(90deg, rgba(255,0,236,1) 0%, rgba(255,76,0,1) 51%, rgba(224,255,0,1) 100%);
}

.title{
    color: #fff;
}

h1{
    color: #fff;
    position: relative;
    margin-left: 30%; 
}

.tablas{
    margin-left: 10%;
}

.table{
    background-color:rgb(239, 151, 44);
    
}

.cabeza1{
    background-color:rgb(255, 56, 33);
    color: white;
}

.cabeza2{
    background-color:rgb(255, 56, 33);
    color: white;
}

.teibol{
    background-color:rgb(239, 151, 44);
}

textarea{
    margin-left: 10%;
}
